<% include partials/header %>
<style>
    .dev {
        font-size: 200%;
    }
    .work {
        font-size: 150%;
    }
</style>
<div id="doctors" class="section lb">
    <div class="container">
        <br>
        <div id="team" class="section wb">
            <div class="container">
                <div class="section-title text-center">
                    <h3>Our Team</h3>
                    <p> We are a team of second year Comps Science Students from VJTI College.</p>
                </div><!-- end title -->

                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="uploads/Archeel.jpeg">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Archeel Parekh</h3>
                                <span class="post">Full Stack Developer</span>
                                <ul class="social">
                                    <li><a href="" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="https://instagram.fbom13-1.fna.fbcdn.net/v/t51.2885-19/s320x320/119379262_694269481436507_7471256872013768863_n.jpg?tp=1&_nc_ht=instagram.fbom13-1.fna.fbcdn.net&_nc_ohc=9c-WUuekWkgAX-U0Yjn&edm=ABfd0MgAAAAA&ccb=7-4&oh=b1593f190b3566fcad7d7eb5640fd3f9&oe=608C1AB0&_nc_sid=7bff83">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Sanyam Savla</h3>
                                <span class="post">Full Stack Developer</span>
                                <ul class="social">
                                    <li><a href="" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-6">
                        <div class="our-team">
                            <div class="pic">
                                <img src="https://instagram.fbom13-1.fna.fbcdn.net/v/t51.2885-19/s320x320/105494569_716887652475129_8400851852653211946_n.jpg?tp=1&_nc_ht=instagram.fbom13-1.fna.fbcdn.net&_nc_ohc=5-u2nRTYpOQAX-ilHRq&edm=ABfd0MgAAAAA&ccb=7-4&oh=bb33c9ee08fea442da2f6f1e57125f7e&oe=608CEE18&_nc_sid=7bff83">
                            </div>
                            <div class="team-content">
                                <h3 class="title">Shubh Shah</h3>
                                <span class="post">full Stack Developer</span>
                                <ul class="social">
                                    <li><a href="" class="fa fa-facebook"></a></li>
                                    <li><a href="#" class="fa fa-twitter"></a></li>
                                    <li><a href="#" class="fa fa-google-plus"></a></li>
                                    <li><a href="#" class="fa fa-skype"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>